$white: #fff;
$mui-primary-50: #f9fcff;
$mui-primary-100: #f4f7fd;
$mui-primary-200: #eff2f9;
$mui-primary-300: #e6e9f0;
$mui-primary-400: #c4c7cd;
$mui-primary-500: #a6a9af;
$mui-primary-600: #7d7f85;
$mui-primary-700: #686a70;
$mui-primary-800: #494b50;
$mui-primary-900: #27292e;
$mui-primary: #27292e;
$mui-accent: #3498db;
$mui-gray-light: #1d1e22;
$mui-gray-accent: #a8a8a8;
$mui-gray-thin: rgba(0, 0, 0, 0.0625);

$mui-low: #0e0f11;
$mui-secondary-50: #ffedf0;
$mui-secondary-100: #ffd3d7;
$mui-secondary-200: #f1a5a3;
$mui-secondary-300: #e88380;

$mui-secondary-400: #f3685f;

$mui-secondary-500: #f75d47;
$mui-secondary-600: #ea5546;
$mui-secondary-700: #d74c40;
$mui-secondary-800: #ca4639;
$mui-secondary-900: #bb3c2e;
$mui-secondary: #bb3c2e;
$mui-black-accent: #0d1015;
$mui-black-light: #212529;
