@use "../../../../styles/mui-core/theme/colors";

.mui-btn {
  background-color: #27292E;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  &-normal-height {
    height: 2.8125em;
  }
  &-as-control-height {
    height: 3.25em;
  }
  &-size {
    &-xs {
      min-width: 8em;
    }
  }
}

.cta {

}

.outline {
  background-color: colors.$white;
  border: 1px solid #ced4da;
  color: colors.$mui-primary-700;
}

.primary {
  color: colors.$white;
}

.alert {
  background-color: colors.$mui-secondary-600;
  color: colors.$white;
  border: 1px solid colors.$mui-secondary-700;
}

.secondary {
  background-color: colors.$white;
  color: colors.$mui-black-accent;
  border: 1px solid colors.$white;
  &:hover {
    background-color: colors.$mui-low;
    border: 1px solid colors.$mui-low;
    color: colors.$white;
  }
}
