<div #selectContainer class="mui-flex mui-flex-column">
  <span class="title">{{ title }}</span>
  <select
    class="mui-my-half"
    [ngClass]="{ 'height-normal': heightStyle === 'normal', 'height-half-size': heightStyle === 'half-size' }"
    (mousedown)="$event.preventDefault()"
    (click)="isPanelOpened = !isPanelOpened"
    name="select"
  >
    <option value="header" selected>{{ currentSelectedItem?.title || 'Выберите из списка' }}</option>
  </select>

  @if (options.length && isPanelOpened) {
    <div class="options-list-container" [class.rotated-panel-container]="showPanelOnTop">
      <div class="options-list mui-flex mui-flex-column">
        @for (item of options; track item.id) {
          <mui-select-option [class.rotated]="showPanelOnTop" [item]="item" (click)="selectItem(item)"> </mui-select-option>
        }
      </div>
    </div>
  }
</div>
